<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    td{
        text-align: center;
        height: 100px;
    }
    img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>
<script>
    function changeBgColor(obj){
        //행을 클릭할 때 배경색에 따라 변하는 색이 변하도록 만든 함수
        if(obj.style.backgroundColor == "" || obj.style.backgroundColor == "gold") {
            obj.style.backgroundColor = "aqua";
        } else if(obj.style.backgroundColor == "aqua") {
            obj.style.backgroundColor = "tomato";
        } else if(obj.style.backgroundColor == "tomato"){
            obj.style.backgroundColor = "gold";
        }
    }
</script>
<body>
    <form action="modify/" method="post">{% csrf_token %}
        <input type="submit" value="수정" style="float: right;">
        <table name="table1" width="100%">
            <tr>
                <!-- 학생 정보 관리 페이지에서와 비슷하게 출석 관리 DB내용을 가지고와서 각 열에 삽입하고 웹 페이지에서 출력되도록 하는 코드 -->
                <!-- 각 학생마다 다른 결과가 나오도록 진행하려 했으나 시간 부족 및 실력 부족으로 인해 구현하지 못 했습니다 -->
                {% for attend_info in attendanceInfo %}
                <!-- 학번 이름 날짜를 보여주고 배경색을 통해 출결 상황을 구분하도록 하려 하였으나 그러진 못하여 DB에 있는 모든 내용을 가지고만 올 수 있도록 하였습니다 -->
                <td onclick="changeBgColor(this)">{{attend_info.stu_no}}{{attend_info.stu_name}}{{attend_info.att_date}}</td>
                {% endfor %}
            </tr>
        </table>
    </form><br>
    <a href="{% url 'infoManager'%}"><button>이전</button></a> <!-- 이전 버튼을 클릭하면 학생 정보 관리 페이지로 이동 -->
</body>
</html>